<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
    </head>
    <body>
        <h1>Big-Brain-Kotlin</h1>
        <p>
            Dont be a Java-ish dev in Kotlin-ish world, improve your knowledge about Koltin Standard Library and write better Kotlin code. ✌🏻 If your Java dev migrating to Kotlin this will help you learn alot!
        </p>
        
        <h3> Disclamer </h3>
        <p> 
            This series is not a Data structure or Algorithm training guide, I aim to help people to learn write better code with Kotlin than doing imperitive javaish programming.
            I'm not a expert in Kotlin and to be quite truthful like anyone of you I have imposter syndriom regarding my skills but, doing this will help me get better and you too.
            Yes code could be slightly less performant or naively solved, if you are highly sensitive to that, you make enjoy elsewhere. Or if you can help be on same level as you do share 
            me your experince and feedback I will love it!

            Bonjour mate and enjoy!
        </p>
        
        {{ content | safe }}

    </body>
</html>