<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>Big-Brain-Kotlin</h1>
        <p>
            Dont be a Java-ish dev in Kotlin-ish world, improve your knowledge about Koltin Standard Library and write better Kotlin code. ✌🏻 If your Java dev migrating to Kotlin this will help you learn alot!
        </p>
        
        <p>
            This series is not a Data structure or
        </p>
        
        {{ content | safe }}
    </body>
</html>