<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="../../css/output.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.1/dist/alpine.min.js" defer></script>
</head>

<body class="flex flex-col h-screen mb-auto bg-gray-300 font-sans">


    <!-- header -->
    <header>

        <!-- Hero Image -->
        <div class="h-96 bg-red-400 overflow-hidden bg-red-400">
            <div class="relative w-full h-full">
                <div class="absolute bg-opacity-50 bg-gray-900 w-full h-full "></div>
                <img class="object-cover w-full h-full" src="{{homeBanner}}" alt="">
            </div>
        </div>

    </header>


    <!-- main -->
    <main class="flex-1">
        {{ content | safe }}

            <!-- footer -->
    
    </main>

   
    <footer class="bg-gray-900 text-gray-200 p-6">
            <div class="flex flex-col justify-center items-center">
                <p class="capitalize">© 2021 Chetan Gupta</p>
                <p>Social</p>
            </div>
    </footer>
    
</body>

</html>