<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="../../css/output.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.1/dist/alpine.min.js" defer></script>
</head>

<body class="h-screen bg-gray-300 font-sans">

    <!-- header -->
    <header>

        <!-- Hero Image -->
        <div class="h-96 bg-red-400 overflow-hidden bg-red-400">
            <div class="relative w-full h-full">
                <div class="absolute bg-opacity-50 bg-gray-900 w-full h-full "></div>
                <img class="object-cover w-full h-full" src="https://picsum.photos/id/642/600/400" alt="">
            </div>
        </div>


    </header>


    <!-- main -->
    <main class="">


        <!-- feature -->
        <div class="relative border-2 transform hover:shadow-xl h-96 overflow-hidden bg-teal-400"
            x-data="{ tabPosition : 0 }">

            <!-- feature tab 1 -->
            <div class="relative w-full h-full" x-show="tabPosition === 0">

                <!-- overlay -->
                <div class="absolute bg-opacity-50 bg-gray-900 w-full h-full "></div>

                <!-- avatar -->
                <p class="absolute rounded-full ml-4 mt-6 text-gray-200 bg-white text-gray-900 px-4">featured</p>

                <!-- backgroundImage -->
                <img class="object-cover w-full h-full" src="https://picsum.photos/id/1060/600/400" alt="">

                <div class="absolute p-4 left-2 bottom-10">
                    <img class=" w-10 h-10 rounded-full object-cover border-2 mb-2"
                        src="https://picsum.photos/id/1025/600/400" alt="">

                    <p class="text-3xl text-gray-200">Lorem ipsum dolor sit amet.</p>
                    <p class="text-xl text-gray-200">Lorem ipsum dolor sit amet.</p>
                </div>

            </div>

            <!-- feature tab 2 -->
            <div class="relative w-full h-full" x-show="tabPosition === 1">

                <!-- overlay -->
                <div class="absolute bg-opacity-50 bg-gray-900 w-full h-full "></div>

                <!-- avatar -->
                <p class="absolute rounded-full ml-4 mt-6 text-gray-200 bg-white text-gray-900 px-4">featured</p>

                <!-- backgroundImage -->
                <img class="object-cover w-full h-full" src="https://picsum.photos/id/1020/600/400" alt="">

                <div class="absolute p-4 left-2 bottom-10">
                    <img class=" w-10 h-10 rounded-full object-cover border-2 mb-2"
                        src="https://picsum.photos/id/1025/600/400" alt="">

                    <p class="text-3xl text-gray-200">Lorem ipsum dolor sit amet.</p>
                    <p class="text-xl text-gray-200">Lorem ipsum dolor sit amet.</p>
                </div>

            </div>

            <!-- feature tab 3 -->
            <div class="relative w-full h-full" x-show="tabPosition === 2">

                <!-- overlay -->
                <div class="absolute bg-opacity-50 bg-gray-900 w-full h-full "></div>

                <!-- avatar -->
                <p class="absolute rounded-full ml-4 mt-6 text-gray-200 bg-white text-gray-900 px-4">featured</p>

                <!-- backgroundImage -->
                <img class="object-cover w-full h-full" src="https://picsum.photos/id/598/600/400" alt="">


                <div class="absolute p-4 left-2 bottom-10">
                    <img class=" w-10 h-10 rounded-full object-cover border-2 mb-2"
                        src="https://picsum.photos/id/1025/600/400" alt="">

                    <p class="text-3xl text-gray-200">Lorem ipsum dolor sit amet.</p>
                    <p class="text-xl text-gray-200">Lorem ipsum dolor sit amet.</p>
                </div>

            </div>


            <!-- feature naviagtion -->
            <div class="absolute bottom-0 right-0 p-4">
                <p class="inline rounded-full ml-4 mt-6 text-gray-200 bg-white text-gray-900 px-4 py-1" @click.prevent=" 
                        if(tabPosition > 0) {
                            tabPosition = tabPosition - 1 
                        } else {
                            tabPosition = 2
                        }
                    
                    ">Previous</p>
                <p class="inline rounded-full ml-4 mt-6 text-gray-200 bg-white text-gray-900 px-4 py-1" @click.prevent=" 
                if(tabPosition < 2) {
                    tabPosition = tabPosition + 1
                } else {
                    tabPosition = 0 
                }
            ">Next</p>
            </div>

        </div>

        <!-- article list -->
        <div class="lg:container lg:mx-auto lg:p-4 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">

            {{ content | safe }}

        </div>


        <!-- footer -->
        <footer class="bg-gray-900 text-gray-200 p-6">
            <div class="flex flex-col justify-center items-center">
                <p class="capitalize">© 2021 Chetan Gupta</p>
                <p>Social</p>
            </div>

        </footer>

</body>

</html>