---
layout: bbk/home/index.njk
title: Home | Big-Brain-Kotlin
homeBanner: https://picsum.photos/id/1025/600/400
permalink: /main/{{ pagination.pageNumber + 1}}.html
pagination:
    data: collections.bbk
    size: 3
    alias: bigbrainkotlin
    reverse: true
---


<!-- feature -->
<div class="relative border-2 transform hover:shadow-xl h-96 overflow-hidden bg-teal-400" x-data="{ tabPosition : 0 }">

    {%- for feat in collections.feat reversed -%}
    <!-- feature tab -->
    <div class="relative w-full h-full" x-show="tabPosition == '{{feat.data.featTabId}}'" onclick="window.open('{{feat.data.permalink}}')">

        <!-- overlay -->
        <div class="absolute bg-opacity-50 bg-gray-900 w-full h-full "></div>

        <p class="absolute rounded-full ml-4 mt-6 text-gray-200 bg-white text-gray-900 px-4">featured</p>

        <!-- backgroundImage -->
        <img class="object-cover w-full h-full" src="{{feat.data.banner}}" alt="">

        <div class="absolute p-4 left-2 bottom-10">
            <!-- avatar -->
            <img class=" w-10 h-10 rounded-full object-cover border-2 mb-2" src="{{feat.data.avatar}}" alt="">

            <p class="text-3xl text-gray-200">{{ feat.data.headline }} {{loop.index}}</p>
            <p class="text-xl text-gray-200">{{ feat.data.subline }}</p>
        </div>
    </div>
    {%- endfor -%}

    <!-- feature naviagtion -->
    <div class="absolute bottom-0 right-0 p-4">
        <p class="inline rounded-full ml-4 mt-6 text-gray-200 bg-white text-gray-900 px-4 py-1" @click.prevent=" 
                if(tabPosition > 0) {
                    tabPosition = tabPosition - 1 
                } else {
                    tabPosition = 2
                }
            
            ">Previous</p>
        <p class="inline rounded-full ml-4 mt-6 text-gray-200 bg-white text-gray-900 px-4 py-1" @click.prevent=" 
        if(tabPosition < 2) {
            tabPosition = tabPosition + 1
        } else {
            tabPosition = 0 
        }
    ">Next</p>
    </div>

</div>

<!-- article list -->
<div class="lg:container lg:mx-auto lg:p-4 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">

    <!-- article card -->
    {%- for bbk in bigbrainkotlin -%}

    <!-- one card container -->
    <div class="transform hover:-translate-y-6 hover:shadow-xl rounded-xl shadow-md border-2 overflow-hidden m-4">
        <div onclick="window.open('{{bbk.data.permalink}}')">
            <div class="bg-yellow-500 h-52 overflow-hidden">
                <img class="object-cover w-full h-full" src="{{bbk.data.banner}}" alt="">
            </div>
            <div class="px-4 py-2">
                <p class="text-sm mt-2">{{bbk.data.tags[0]}}</p>
                <p class="text-xl mt-1">{{ bbk.data.headline }}</p>
                <p class="text-base mt-1 truncate">{{ bbk.data.subline }}</p>
            </div>
        </div>
    </div>

    {%- endfor -%}
</div>

{% if pagination.pageLinks.length > 1 %}
<nav class="pagination">
  {% if pagination.previousPageLink %}
    <a class="pagination__item" href="{{ pagination.previousPageHref | url }}">Newer Articles</a>
  {% else %}
    <span class="pagination__item">Newer Articles</span>
  {% endif %}

  {% if pagination.nextPageLink %}
    <a class="pagination__item" href="{{ pagination.nextPageHref | url }}">Older Articles</a>
  {% else %}
    <span class="pagination__item">Older Articles</span>
  {% endif %}
</nav>
{% endif %}